<a href="https://colab.research.google.com/github/githbsingh/LeetCodeSql/blob/main/1280_Students_and_Examinations.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#### Q. 1280. Students and Examinations
Sol. SELECT src.student_id, src.student_name, src.subject_name, coalesce(tgt.attended_exams, 0) as attended_exams
FROM (SELECT s.student_id as student_id, s.student_name as student_name,
subject_name FROM Students s CROSS JOIN Subjects) as src LEFT JOIN
(SELECT student_id, subject_name, count(*) as attended_exams  FROM Examinations
GROUP BY student_id, subject_name) as tgt
ON src.student_id=tgt.student_id and src.subject_name=tgt.subject_name
ORDER BY src.student_id, src.subject_name