<a href="https://colab.research.google.com/github/githbsingh/LeetCodeSql/blob/main/1321_Restaurant_Growth.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#### 1321. Restaurant Growth
Sol. # Write your MySQL query statement below
SELECT visited_on, amount, average_amount FROM (SELECT
    a.visited_on AS window_start,
    DATE_ADD(a.visited_on, INTERVAL 6 DAY) AS visited_on,
    #b.amount,
    SUM(b.amount) AS amount,
    round(SUM(b.amount)/7,2) AS average_amount
FROM Customer a
JOIN Customer b
    ON b.visited_on BETWEEN a.visited_on AND DATE_ADD(a.visited_on, INTERVAL 6 DAY)
#GROUP BY a.visited_on
GROUP BY a.visited_on) src

WHERE visited_on IN (SELECT visited_on FROM Customer)