<a href="https://colab.research.google.com/github/githbsingh/LeetCodeSql/blob/main/1321_Restaurant_Growth.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#### 1321. Restaurant Growth
Sol. # Write your MySQL query statement below
WITH daily_totals AS (
    SELECT
        visited_on,
        SUM(amount) AS daily_amount
    FROM
        Customer
    GROUP BY
        visited_on
)

SELECT * FROM (SELECT visited_on, SUM(daily_amount) OVER (Order by visited_on ROWS BETWEEN 6 PRECEDING AND CURRENT ROW ) as amount,
ROUND(AVG(daily_amount) OVER ( ORDER BY visited_on ROWS BETWEEN 6 PRECEDING AND CURRENT ROW),2) as average_amount
FROM daily_totals) as src
WHERE visited_on >= (SELECT DATE_ADD(min(visited_on), INTERVAL 6 DAY) FROM Customer)