<a href="https://colab.research.google.com/github/githbsingh/LeetCodeSql/blob/main/1341_Movie_Rating.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#### Q. 1341. Movie Rating
Sol. SELECT name as results FROM (SELECT u.name, count(*) as ratcnt FROM MovieRating mr
RIGHT JOIN Users u
ON mr.user_id=u.user_id
GROUP BY mr.user_id
ORDER BY ratcnt desc, u.name ASC
LIMIT 1) as src1
UNION ALL
(SELECT title FROM (SELECT m.title,m.movie_id, avg(rating) as avgrat FROM
MovieRating mr INNER JOIN Movies m
ON mr.movie_id=m.movie_id
WHERE YEAR(created_at) = '2020' AND MONTH(created_at) = '02'
GROUP BY m.title
ORDER BY avgrat desc, m.title asc LIMIT 1) as src2)