<a href="https://colab.research.google.com/github/githbsingh/LeetCodeSql/blob/main/1683_Invalid_Tweets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#### Q. 1683. Invalid Tweets
Sol. : Write your MySQL query statement below
SELECT tweet_id FROM Tweets WHERE LENGTH(content) > 15