<a href="https://colab.research.google.com/github/githbsingh/LeetCodeSql/blob/main/177_Nth_Highest_Salary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
CREATE FUNCTION getNthHighestSalary(N INT) RETURNS INT
BEGIN
  RETURN (
      # Write your MySQL query statement below.
      SELECT salary FROM (SELECT distinct salary, dense_rank() over(order by salary desc) as seq_num FROM Employee) as src
      WHERE seq_num = N AND (SELECT count(distinct salary) FROM EMPLOYEE) >= N

  );
END