In [ ]:
SELECT product_id,
    CASE
        WHEN store1 IS NOT NULL THEN 'store1'
        END as store,
    CASE
        WHEN store1 IS NOT NULL THEN store1
    END as price
FROM Products
WHERE store1 IS NOT NULL

UNION
SELECT product_id,
    CASE
        WHEN store2 IS NOT NULL THEN 'store2'
        END as store,
    CASE
        WHEN store2 IS NOT NULL THEN store2
    END as price
FROM Products
WHERE store2 IS NOT NULL

UNION
SELECT product_id,
    CASE
        WHEN store3 IS NOT NULL THEN 'store3'
        END as store,
    CASE
        WHEN store3 IS NOT NULL THEN store3
    END as price
FROM Products
WHERE store3 IS NOT NULL