<a href="https://colab.research.google.com/github/githbsingh/LeetCodeSql/blob/main/184_Department_Highest_Salary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Write your MySQL query statement below
SELECT d.name as department, src.name  as Employee, Salary FROM (SELECT name, salary, departmentId FROM
Employee WHERE (departmentId, salary) IN (SELECT departmentId, max(salary) as salary FROM Employee
GROUP BY departmentId)) as src
INNER JOIN Department d
ON src.departmentId=d.id