<a href="https://colab.research.google.com/github/githbsingh/LeetCodeSql/blob/main/1873_Calculate_Special_Bonus.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Write your MySQL query statement below
SELECT employee_id,
    CASE
        WHEN name NOT LIKE 'M%' AND MOD(employee_id, 2)=1 THEN salary ELSE 0 END as bonus
FROM Employees
ORDER BY employee_id