<a href="https://colab.research.google.com/github/githbsingh/LeetCodeSql/blob/main/1907_Count_Salary_Categories.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Sol. with categories as (
    SELECT 'Low Salary' as category UNION ALL
    SELECT 'Average Salary' UNION ALL
    SELECT 'High Salary'
)
SELECT cat.category, coalesce(accounts_count, 0) accounts_count FROM categories cat LEFT JOIN (SELECT category, count(category) as accounts_count FROM (SELECT
    CASE
    WHEN income < 20000 THEN 'Low Salary'
    WHEN income >= 20000 AND income <= 50000 THEN 'Average Salary'
    WHEN income > 50000 THEN 'High Salary'
    END as category
FROM Accounts) tmp
GROUP BY category) src
ON cat.category=src.category