In [ ]:
with cte as (SELECT emp.employee_id as employee_id FROM Employees emp INNER JOIN
Salaries sal
ON emp.employee_id=sal.employee_id)

SELECT employee_id FROM Employees WHERE employee_id
NOT IN (SELECT employee_id FROM cte)

UNION

SELECT employee_id FROM Salaries WHERE employee_id
NOT IN (SELECT employee_id FROM cte)

ORDER BY employee_id