<a href="https://colab.research.google.com/github/githbsingh/LeetCodeSql/blob/main/262_Trips_and_Users.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Write your MySQL query statement below
with src as(
SELECT request_at, status
FROM Trips WHERE (client_id NOT IN (SELECT users_id FROM Users WHERE banned = 'Yes')
AND driver_id NOT IN (SELECT users_id FROM Users WHERE banned = 'Yes')
)AND request_at BETWEEN '2013-10-01' AND '2013-10-03')
,

totstat as(
SELECT request_at, status, coalesce(count(*),0) as tot
FROM src
GROUP BY request_at, status
HAVING status <> 'completed'),

average as (
    SELECT request_at, count(*) as tot
    FROM src
    GROUP BY request_at
)

SELECT average.request_at as Day, round((coalesce(totstat.tot,0.00))/average.tot,2)  "Cancellation Rate"  FROM totstat
RIGHT JOIN average
ON totstat.request_at=average.request_at