<a href="https://colab.research.google.com/github/githbsingh/LeetCodeSql/blob/main/585_Investments_in_2016.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#### 585. Investments in 2016
#### Sol.
with t_2015 as (
    SELECT tiv_2015 FROM Insurance GROUP BY tiv_2015
    HAVING count(*) > 1
)

SELECT round(SUM(tiv_2016),2) as tiv_2016 FROM Insurance WHERE tiv_2015 IN (SELECT tiv_2015 FROm t_2015)
AND (lat,lon) IN (SELECT lat,lon FROM Insurance
GROUP BY lat,lon HAVING count(*) = 1)