In [ ]:
# Write your MySQL query statement below
with filtered as(
    SELECT id, visit_date, people FROM Stadium
    WHERE people >= 100
),

numbered as (
    SELECT id, visit_date, people, row_number() over(order by id) as rn FROM filtered
),

grp as (
    SELECT id, visit_date, people, id-rn as grp_n FROM numbered
),

req_grp as(
    SELECT grp_n FROM grp
    GROUP BY grp_n HAVING count(*) > 2
)
SELECT id, visit_date, people FROM grp WHERE grp_n IN (SELECT grp_n FROM req_grp)