<a href="https://colab.research.google.com/github/githbsingh/LeetCodeSql/blob/main/607_Sales_Person.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Write your MySQL query statement below
SELECT name FROM SalesPerson WHERE sales_id
NOT IN (SELECT sales_id FROM Orders WHERE com_id IN
(SELECT com_id FROM Company WHERE name = 'RED'))