<a href="https://colab.research.google.com/github/githbsingh/LeetCodeSql/blob/main/SQL_LeetCode_1045_Customers_Who_Bought_All_Products.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##### Write your MySQL query statement below



SELECT customer_id FROM (SELECT customer_id, max(seq_num) as seq_num FROM (SELECT customer_id, product_key, row_number() over(partition by customer_id) as seq_num FROM
(SELECT distinct customer_id, product_key FROM customer) as src) as src
GROUP BY customer_id) as src WHERE seq_num IN (SELECT count(*) FROM Product)